<ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sectores">sectores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/comerciantes">comerciantes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/puestos">puestos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/asistencia">asistencias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pagos">pagos</a>
        </li>
        {{!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> --}}
</ul>
